@font-face {
    font-family: 'Bugee';
    src: url('./../fonts/Bungee-Regular.ttf')
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*index.html*/
.form {
    width: 250px;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #ccc;
    border-radius: 4px;
    padding: 20px;
    
}
.form>form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.form h3 {
    text-align: center;
    font-size: 24px;
}
.form button {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #d2374a;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.form input {
    width: 100%;
    height: 40px;
    border: none;
    margin: 4px 0;
    padding: 0 10px;
    color: #444;
    font-size: 18px;    
}
/*chat.html*/
body {
    background-color: #333;
    font-family: Tahoma;
}
.chat {
    width: 600px;
    height: 680px;
    margin: 100px auto;
    display: flex;
}
.chat__sidebar {
    width: 150px;
    height: 100%;
    background: linear-gradient(to bottom, #d2374a, #de9396);
}
.chat__main {
    background-color: #d7ecf4;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.chat__users, .chat__welcome {
    font-family: 'Bugee', sans-serif;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}
.chat__box {
    overflow-y: auto;
    padding-left: 10px;
    display: flex;
    flex-direction: column-reverse;
    height: 540px;
}
#chat__list {
    list-style: none;
}
.chat__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background: linear-gradient(to left, #d2374a, #de9396);
    border-bottom-right-radius: 10px;
}
.chat__control * {
    border-radius: 4px;
}
.chat__control button {
    height: 40px;
    padding: 4px 8px;
    background-color: #de9396;
    border: none;
    outline: none;
    margin: 4px;
    cursor: pointer;
    color: #333;
}
#msg__form {
    flex-grow: 1;
    display: flex;
}
#msg__text {
    height: 40px;
    flex-grow: 1;
    margin: 4px;
    padding: 10px;
    border: none;
    outline: none;
}
.message {
    margin-bottom: 14px;
}
.message__title>h4 {
    display: inline-block;
    margin-right: 10px;
}
.message__title>span {
    font-size: 10px;
    font-style: italic;
}
#chat__users-list {
    padding: 0 4px 0 14px;
    overflow: hidden;
    font-family: Times New Roman, serif;
    list-style-position: inside;
}
#chat__users-list li {
    padding: 4px;
    background-color: #d7ecf4;
    border-radius: 4px;
    margin-bottom: 4px;
}